<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from schoolable.co/privacy by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 11 Mar 2020 00:50:19 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="keywords"
        content="">
    <meta name="description"
        content="">
    <meta property="og:description"
        content="">
    <title>
        Privacy Policy - Schoolable    </title>
    <meta property="og:title"
        content="Privacy Policy - Schoolable">
    <meta property="og:url" content="index.html">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Schoolable">
    <meta property="og:image" content="images/brand/open-graph/schoolable.html" />
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta name="twitter:title"
        content="">
    <meta name="twitter:description"
        content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@schoolableHQ">
    <meta property="twitter:image:src" content="images/brand/open-graph/schoolable.html" />
    <meta name="twitter:app:name:googleplay" content="">
    <meta name="twitter:app:id:googleplay" content="">
    <meta name="google-site-verification" content="EFlAdAYEkiguxNBOo2MNSn0m5sD3hNX0WQhhC2e6kPE" />
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css1/bulma.css" />
    <link rel="stylesheet" type="text/css" href="../css1/mentorcruise.css" />
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/app.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css1/mentorcruise-v2.0.0.css" />
    <link rel="stylesheet" type="text/css" href="../css1/styles.css" />

    <script type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Schoolable","item":"https:\/\/schoolable.co"},{"@type":"ListItem","position":2,"name":"Privacy","item":"https:\/\/schoolable.co\/privacy"}]}</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145066321-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-145066321-2');
    </script>
    <script>
    ! function() {
        var analytics = window.analytics = window.analytics || [];
        if (!analytics.initialize)
            if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice.");
            else {
                analytics.invoked = !0;
                analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify",
                    "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"
                ];
                analytics.factory = function(t) {
                    return function() {
                        var e = Array.prototype.slice.call(arguments);
                        e.unshift(t);
                        analytics.push(e);
                        return analytics
                    }
                };
                for (var t = 0; t < analytics.methods.length; t++) {
                    var e = analytics.methods[t];
                    analytics[e] = analytics.factory(e)
                }
                analytics.load = function(t, e) {
                    var n = document.createElement("script");
                    n.type = "text/javascript";
                    n.async = !0;
                    n.src = "https://cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
                    var a = document.getElementsByTagName("script")[0];
                    a.parentNode.insertBefore(n, a);
                    analytics._loadOptions = e
                };
                analytics.SNIPPET_VERSION = "4.1.0";
                analytics.load("neqyiFBkBSayNAlJGX8mgCxusnW1PvbP", {
                    source: window.location.host
                });
                analytics.page();
            }
    }();
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 718110626 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-718110626"> </script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW - 718110626');
    </script>
    <script type="text/javascript">
        (function(w,d){
        w.HelpCrunch=function(){w.HelpCrunch.q.push(arguments)};w.HelpCrunch.q=[];
        function r(){var s=document.createElement('script');s.async=1;s.type='text/javascript';s.src='https://widget.helpcrunch.com/';(d.body||d.head).appendChild(s);}
        if(w.attachEvent){w.attachEvent('onload',r)}else{w.addEventListener('load',r,false)}
        })(window, document)
        </script>

        <script type="text/javascript">
        HelpCrunch('init', 'schoolable', {
            applicationId: 2,
            applicationSecret: 'TyFvykAzZjpYLT7Eqmm8MwbL+ezfdNeb8DgGpAfTiiZvYyKNDtT7P8mYxoh3+GItd5zs3nnJK6R8/Q3QdC4jBw=='
        });

        HelpCrunch('showChatWidget');
    </script>
    <script type='application/ld+json'>
    {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "@id": "https://schoolable.co",
        "name": "Schoolable",
        "url": "https://schoolable.co",
        "logo": "https://schoolable.co/images/schoolable-logo.png",
        "description": "Schoolable works with Parents to save and get loans to pay tuition while with schools, we ensures that all payments are tracked and reconciled seamlessly.",
        "sameAs": [
            "https://twitter.com/schoolableHQ",
            "https://www.linkedin.com/company/schoolable",
            "https://instagram.com/schoolableHQ",
            "https://www.facebook.com/Schoolable-995938057260882"
        ],
        "email": "hello@schoolable.co",
        "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+234 814 714 0714",
                "contactType": "customer service"
            },
            {
                "@type": "ContactPoint",
                "telephone": "+234 903 000 9647",
                "contactType": "customer service"
            }
        ],
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Victoria Garden City",
            "addressLocality": "Lekki",
            "addressRegion": "NG-LA",
            "postalCode": "105102",
            "addressCountry": "NG"
        }
    }
    </script>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Schoolable",
        "operatingSystem": "Android, iOS",
        "applicationCategory": "FinanceApplication",
        "review": {
            "@type": "Review",
            "itemReviewed": {
                "@type": "SoftwareApplication",
                "name": "Schoolable",
                "operatingSystem": "Android, iOS",
                "applicationCategory": "FinanceApplication",
                "offers": {
                    "@type": "Offer",
                    "price": "0",
                    "priceCurrency": "NGN"
                },
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "4.2",
                    "ratingCount": "42"
                }
            },
            "author": {
                "@type": "Person",
                "name": "Chigoziri Okeke"
            },
            "reviewBody": "Amazing app that's adding a lot of value to Africa's education sector!"
        },
        "offers": {
            "@type": "Offer",
            "price": "0",
            "priceCurrency": "NGN"
        },
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.2",
            "ratingCount": "42"
        }
    }
    </script>
</head>
<body>
    <div class="hero about" style="background-color: rgba(192, 231, 239, .20); min-height: 200px;">
        <nav class="navbar main-navbar navbar-expand-lg">
    <div class="container">
        <a href="index.html" class="navbar-brand">
            <img src="images/schoolable-logo.png" style="width: 12rem;">
        </a>

        <button class="d-block d-lg-none border-0 navbar-mobile-toggle" type="button" aria-controls="mobileNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-lg-none navbar-mobile flex-column" id="mobileNavbar">
            <div class="navbar-mobile__close navbar-mobile-toggle position-absolute position__top-right"
                style="cursor: pointer;" aria-controls="mobileNavbar" aria-expanded="false"
                aria-label="Toggle navigation" data-feather="x"></div>
            <div class="row p-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="navbar-mobile__header font-semibold">Products</h6>
                            <a href="parents.html" class="dropdown-item">
                                Parents
                            </a>
                            <a href="schools.html" class="dropdown-item">
                                Schools
                            </a>
                            <a href="partners.html" class="dropdown-item">
                                Partners
                            </a>

                            <h6 class="navbar-mobile__header font-semibold mt-4">Company</h6>
                            <a href="index.html" class="dropdown-item">
                                Home
                            </a>
                            <a href="about.html" class="dropdown-item">
                                About
                            </a>
                            <a href="https://blog.schoolable.co/" target="_blank" class="dropdown-item">
                                Blog
                            </a>
                            <a href="faq.html" class="dropdown-item">
                                Faq
                            </a>
                            <a href="contact.html" class="dropdown-item">
                                Contact
                            </a>
                        </div>
                        <div class="col-6">
                            <h6 class="navbar-mobile__header font-semibold">For Parents</h6>
                            <a href="plan.html" class="dropdown-item">
                                Plan
                            </a>
                            <a href="save.html" class="dropdown-item">
                                Save
                            </a>
                            <a href="pay-fees.html" class="dropdown-item">
                                Pay Fees
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="dropright dropright--sm dropright--anchored-bottom-right">
                    <button class="btn btn-light lift ml-auto mr-4 text-secondary" style="padding: .5rem;" type="button"
                        id="loginMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login <i data-feather="chevron-right" class="text-icon"></i>
                    </button>
                    <div class="dropdown-menu" style="padding-left: 1.75rem; padding-right: 1.75rem;"
                        aria-labelledby="loginMenuButton">
                        <a class="dropdown-item text-hyperlink mb-1" href="https://app.schoolable.co/login">
                            For Parents
                        </a>
                        <a class="dropdown-item text-hyperlink mb-1" href="https://pay.schoolable.co/">For
                            Schools</a>
                    </div>
                </div>
                <div class="dropright dropright--sm dropright--anchored-bottom-right">
                    <button class="btn btn-secondary border-0 lift text-white lift" style="padding: .5rem;"
                        type="button" id="loginMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Get Started <i data-feather="chevron-right" class="text-icon"></i>
                    </button>
                    <div class="dropdown-menu" style="padding-left: 1.75rem; padding-right: 1.75rem;"
                        aria-labelledby="loginMenuButton">
                        <a class="dropdown-item text-hyperlink mb-1" href="https://app.schoolable.co/login">
                            For Parents
                        </a>
                        <a class="dropdown-item text-hyperlink mb-1" href="https://pay.schoolable.co/">For
                            Schools</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <ul class="navbar-nav main-navbar__menu ml-auto">
               
                <li class="nav-item mr-4 ">
                    <a href="schools.html" class="nav-link text-primary font-semibold">
                        Tech
                    </a>
                </li>
                <li class="nav-item mr-4 ">
                    <a href="partners.html" class="nav-link text-primary font-semibold">
                        Business
                    </a>
                </li>
                <li class="nav-item dropdown mr-4">
                    <a href="#" class="nav-link text-primary font-semibold" data-toggle="dropdown" aria-expanded="false"
                        aria-haspopup="true">
                        Company <i data-feather="chevron-down" class="text-icon"></i></a>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-primary" href="about.html">About Us</a>
                        <a class="dropdown-item text-primary" href="contact.html">Contact</a>
                        <a class="dropdown-item text-primary" href="faq.html">FAQ</a>
                        <a class="dropdown-item text-primary" href="https://blog.schoolable.co/" target="_blank">Blog</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="btn btn-outline-secondary lift ml-auto mr-4" style="padding: .3rem;"
                        data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        Log in <i data-feather="chevron-down" class="text-icon"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-primary mb-1" href="https://app.schoolable.co/login">
                            For Mentors
                        </a>
                        <a class="dropdown-item text-primary mb-1" href="https://pay.schoolable.co/">For
                            Mentees</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-secondary border-0 lift text-white" style="padding: .3rem; padding-left: .7rem;"
                        data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                        Get Started <i data-feather="chevron-down" class="text-icon"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-primary mb-1" href="https://app.schoolable.co/register">
                            For Mentors
                        </a>
                        <a class="dropdown-item text-primary mb-1" href="https://pay.schoolable.co/">For
                            Mentees</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>  


        <div class="container about__content text-center position-relative">
           
            <h2 class="about__header title text-primary font-bold text-5xl"> Search for mentors</h2>

        </div>
        </div>


    <section class="section">
        <div class="container">


                        <div style="position: relative;">
                        <form action="#" method="get" class="v3 box">
                        <div class="columns">
                        <div class="column is-8">
                        <label for="id_search">What are you looking for?<br /> </label> <input type="text" name="search" id="id_search" placeholder="Name, Tags, Skills, ..." />
                        <div class="column is-hidden-tablet mobile-filter-button">
                        <button class="blue-btn" style="width: 100%;"><b>Search</b></button>
                        </div>
                        <div class="mobile-filter">
                        <div class="columns" style="margin-top: 5px;">
                        <div class="column">
                        <p><label for="id_config__goals">Mentor can set To-Dos:</label> <a href="../../tools/index.html" title="What does that mean?"><i class="fa fa-question-circle"></i></a></p>
                        <div class="select" style="width: 100%">
                        <select name="config__goals" id="id_config__goals">
                        <option value="" selected>Doesn&#39;t matter</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        </select>
                        </div>
                        <p><label for="id_config__challenge">Mentor can give you projects:</label></p>
                        <div class="select" style="width: 100%">
                        <select name="config__challenge" id="id_config__challenge">
                        <option value="" selected>Doesn&#39;t matter</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        </select>
                        </div>
                        </div>
                        <div class="column">
                        <p><label for="id_config__one_on_one">Mentor is available for calls:</label></p>
                        <div class="select" style="width: 100%">
                        <select name="config__one_on_one" id="id_config__one_on_one">
                        <option value="" selected>Doesn&#39;t matter</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        </select>
                        </div>
                        <p><label for="id_config__coding_support">Mentor reviews your code/work:</label></p>
                        <div class="select" style="width: 100%">
                        <select name="config__coding_support" id="id_config__coding_support">
                        <option value="" selected>Doesn&#39;t matter</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        </select>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="mobile-filter column is-4 ">
                        <label for="id_tagsearch">
                        Main Focus</label>
                        <div class="select" style="width: 100%">
                        <select name="tagsearch" id="id_tagsearch">
                        <option value="">Choose Category</option>
                        <option value="Engineering &amp; Data">Engineering &amp; Data</option>
                        <option value="Design">Design</option>
                        <option value="Business">Business</option>
                        <option value="Other">Other</option>
                        </select>
                        </div>
                        <p>&nbsp;</p>
                        <label for="id_price__lt">Price (USD) per week is lower than:</label>
                        <input type="number" name="price__lt" step="any" id="id_price__lt" /><br />
                        <div class="columns is-mobile">
                        <div class="column">
                        <a href="index.html" class="button is-link" style="width: 100%;">Clear All</a>
                        </div>
                        <div class="column">
                        <button class="blue-btn" style="width: 100%;"><b>Search</b></button>
                        </div>
                        </div>
                        </div>
                        </div>
                        </form>
                        <a onclick="toggleNav()" class="arrow-navigation is-hidden-tablet">
                        <img src="https://cdn.mentorcruise.com/img/arrow.svg" alt="">
                        </a>
                        </div>
                        <script>
                            function toggleNav() {
                                $(".arrow-navigation").toggleClass('upside-down');
                                $(".mobile-filter").toggleClass('open');
                                $(".mobile-filter-button").toggleClass('hidden');
                            }
                        </script>











                        <div class="box">
                        <div class="columns">
                        <div class="column is-2">
                        <a href="../AlyssaPayne/index.html">
                        <figure class="image is-round" style="margin: 0 auto; max-width: 120px;">
                        <img src="" alt="Image">
                        </figure>
                        </a>
                        </div>
                        <div class="column is-7 mentorcard-main-column" style=" position: relative">
                        
                        <a href="../AlyssaPayne/index.html">
                        <h3 class="title is-4 title-blue nametag" style="font-size: 1.2rem; font-weight: bold;"> Timi Komolafe&nbsp;
                        </h3></a>
                        <span class="has-text-grey" style="font-size: 1.1rem; font-weight: 500;">Senior Graphic Designer - Foxx Media</span><br>
                        <div class="tags" style="margin-top: 15px;">
                        <span class="tag is-medium">💻 Personal Chat</span>
                        <span class="tag is-medium">📝 To-Dos</span>
                        </div>
                        <span class="has-text-blue" style="font-size: 0.9rem; font-weight: 500; font-family: 'Inter UI', sans-serif;">
                        <p>Nice to meet you! My name is Alyssa. I&#39;ve been in the design industry for thirteen years and senior designer for the past seven 
                            at two different design agencies. Over the years, I&#39;ve been awarded the experience of publishing
                             many magazines, creating packaging, prototypes, campaigns and countless print marketing. I&#39;ve had
                              clients such a Pfizer, Walgreens &amp; Costco among many others. I currently reside in a beautiful 
                              town called Lake Havasu City, Arizona. Feel free to reach out to me if you have any general design inquiries,
                               have application issues, ...
                        </span>
                        <div class="tags" style=" margin-top: 2rem;">
                        <span class="tag is-primary">Design</span>
                        <span class="tag">Indesign</span><span class="tag">Illustrator</span><span class="tag">Photoshop</span><span class="tag">Layout</span>
                        </div>
                        </div>
                        <div class="column is-3" style="text-align: center; padding: 1rem;">
                        <span class="tag is-small" style="margin: 10px auto;"><b><i class="fa fa-2x fa-tags is-size-6"></i> 7 Day Trial</b></span>


                        <p id="price-indicator-detail">
                        $20.00
                        <span>per week</span>
                        </p>
                        <a class="blue-btn" style="padding: 8px 0; width: 100%; text-align: center; margin-top: 1em;" href="../16/apply/index.html"><b>Apply for Mentorship</b></a>
                        <a class="blue-btn-outline" style="margin-top: 10px; padding: 8px 0; width: 100%; text-align: center" href="../AlyssaPayne/index.html"><b>Visit Profile</b></a>
                        </div>
                        </div>
                        </div>
            








        </div>
    </section>



    <footer class="c-footer pb-0 mt-5">
    
    <div class="container" style="margin-top: 7%;">
        <div class="row c-footer__list ml-0 mr-0">
            <div class="col-12 col-md-4 col-lg-3 mb-4 text-center">
                <div style="margin-bottom: 20px;">
                    <a href="index.html">
                        <img src="images/schoolable-logo-footer.svg">
                    </a>
                </div>
                <ul class="c-footer-social-icons">
                    <li class="c-footer-social-icons__icon">
                        <a href="https://twitter.com/@schoolableHQ" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#3D4677">
                                        <g id="surface1">
                                            <path
                                                d="M150.5,46.00244c-4.74511,2.09961 -9.84717,3.52734 -15.20117,4.15722c5.45898,-3.27539 9.6582,-8.46142 11.63184,-14.63428c-5.10205,3.02344 -10.771,5.22803 -16.79687,6.42481c-4.8291,-5.14405 -11.71582,-8.37744 -19.31641,-8.37744c-14.61328,0 -26.47608,11.86279 -26.47608,26.47607c0,2.07861 0.23096,4.09424 0.69288,6.02588c-22.00391,-1.0918 -41.50928,-11.63184 -54.54785,-27.65185c-2.28857,3.90527 -3.59033,8.46142 -3.59033,13.31152c0,9.17529 4.66114,17.27979 11.77881,22.0249c-4.34619,-0.14697 -8.41944,-1.32275 -11.98877,-3.31738c0,0.12597 0,0.23096 0,0.33594c0,12.82861 9.1123,23.53662 21.22705,25.95117c-2.22559,0.60889 -4.55616,0.94482 -6.9707,0.94482c-1.70069,0 -3.38038,-0.16797 -4.97608,-0.48291c3.35938,10.51905 13.14356,18.16163 24.71241,18.39258c-9.04932,7.09668 -20.47119,11.3169 -32.85889,11.3169c-2.1416,0 -4.24121,-0.12597 -6.31982,-0.37793c11.71582,7.5166 25.61523,11.90478 40.56445,11.90478c48.68994,0 75.31299,-40.33349 75.31299,-75.31298c0,-1.13379 -0.04199,-2.28858 -0.08398,-3.42236c5.16504,-3.73731 9.6582,-8.39844 13.20654,-13.68945z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="c-footer-social-icons__icon">
                        <a href="https://www.linkedin.com/company/schoolable/" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#3D4677">
                                        <path
                                            d="M137.6,22.93333h-103.2c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v103.2c0,6.33533 5.13133,11.46667 11.46667,11.46667h103.2c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-103.2c0,-6.33533 -5.13133,-11.46667 -11.46667,-11.46667zM62.80293,126.13333h-16.91333v-54.4208h16.91333zM54.17427,63.9324c-5.4524,0 -9.86133,-4.4204 -9.86133,-9.86133c0,-5.44093 4.41467,-9.8556 9.86133,-9.8556c5.4352,0 9.8556,4.4204 9.8556,9.8556c0,5.44093 -4.4204,9.86133 -9.8556,9.86133zM126.15627,126.13333h-16.90187v-26.46507c0,-6.3124 -0.11467,-14.4308 -8.7892,-14.4308c-8.80067,0 -10.15373,6.87427 -10.15373,13.97213v26.92373h-16.90187v-54.4208h16.22533v7.43613h0.22933c2.25893,-4.27707 7.7744,-8.7892 16.00173,-8.7892c17.12547,0 20.29027,11.27173 20.29027,25.92613z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="c-footer-social-icons__icon">
                        <a href="https://www.facebook.com/Schoolable-995938057260882/" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#3D4677">
                                        <path
                                            d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,35.9265 26.4665,65.5965 60.9525,70.778v-51.78633h-17.73033v-18.84117h17.73033v-12.5345c0,-20.75467 10.11217,-29.8635 27.36233,-29.8635c8.26317,0 12.62767,0.60917 14.69883,0.88867v16.44033h-11.76767c-7.32433,0 -9.88283,6.9445 -9.88283,14.7705v10.2985h21.46417l-2.90967,18.84117h-18.54733v51.93683c34.9805,-4.73717 61.963,-34.65083 61.963,-70.9285c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li class="c-footer-social-icons__icon">
                        <a href="https://instagram.com/schoolableHQ" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#3D4677">
                                        <path
                                            d="M57.32214,17.2c-22.12493,0 -40.12214,18.01386 -40.12214,40.14453v57.33333c0,22.12493 18.01386,40.12214 40.14453,40.12214h57.33333c22.12493,0 40.12214,-18.01386 40.12214,-40.14453v-57.33333c0,-22.12493 -18.01386,-40.12214 -40.14453,-40.12214zM126.13333,40.13333c3.1648,0 5.73333,2.56853 5.73333,5.73333c0,3.1648 -2.56853,5.73333 -5.73333,5.73333c-3.1648,0 -5.73333,-2.56853 -5.73333,-5.73333c0,-3.1648 2.56853,-5.73333 5.73333,-5.73333zM86,51.6c18.9716,0 34.4,15.4284 34.4,34.4c0,18.9716 -15.4284,34.4 -34.4,34.4c-18.9716,0 -34.4,-15.4284 -34.4,-34.4c0,-18.9716 15.4284,-34.4 34.4,-34.4zM86,63.06667c-12.66573,0 -22.93333,10.2676 -22.93333,22.93333c0,12.66573 10.2676,22.93333 22.93333,22.93333c12.66573,0 22.93333,-10.2676 22.93333,-22.93333c0,-12.66573 -10.2676,-22.93333 -22.93333,-22.93333z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <h4 class="c-footer__list-item-header">Company</h4>
                <ul class="c-footer-list">
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="about.html">About Us</a>
                    </li>
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="https://blog.schoolable.co/" target="_blank">Blog</a>
                    </li>
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="faq.html">FAQ</a>
                    </li>
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="contact.html">Contact</a>
                    </li>
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="https://help.schoolable.co/">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <h4 class="c-footer__list-item-header">Products</h4>
                <ul class="c-footer-list">
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="parents.html">Parents</a>
                    </li>
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="schools.html">Schools</a>
                    </li>
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="partners.html">Partners</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0 mt-3 mt-lg-0">
                <h4 class="c-footer__list-item-header">Legal</h4>
                <ul class="c-footer-list">
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="privacy.html">Privacy Policy</a>
                    </li>
                    <li class="c-footer-list__nav">
                        <a class="text-primary-light" href="terms.html">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mt-3 mt-lg-0">
                <h4 class="c-footer__list-item-header">Office</h4>
                <ul class="c-footer-list">
                    <li class="c-footer-list__nav">
                        <p>
                           Canaanland, Ogun state.
                        </p>
                    </li>
                    <li class="c-footer-list__nav">
                        3rd Floor, HSL, Nigeria.
                    </li>
                </ul>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <hr style="border-top: 1px solid rgba(152, 155, 172, .02);" />
            <div class="text-center text-md-left" style="margin-top: 30px; color: #989BAC;">
                <small>Jobponent is a career and job coaching platform connecting Job seekers with Industry Professionals
                     for 1 on 1 guidiance on how to ace a job role interview and land dream job with details of
                      required skills, what it takes to succeed in the role, the resources, CV revamp as well.</small>
            </div>
            <p class="text-center text-md-left" style="color: #989BAC; margin-top: 10px;"><small>&copy; Jobponent. All
                    rights reserved.</small></p>
        </div>
    </div>
</footer>
    <script src="../cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<script src="../cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script src="../cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js">
</script>
<script src="../cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"></script>
<script>
feather.replace();
</script>
<script src="js/script.js"></script></body>


<!-- Mirrored from schoolable.co/privacy by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 11 Mar 2020 00:50:19 GMT -->
</html>